{% extends "codedare_app/base.html" %}

{% block title %}Post{% endblock %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
{% endblock  %}

{% block content %}

    

        
        
        <section class="post-page">
            <article>
                
                <h2>{{ post.title }} # {{post.id}}</h2>
                <p>{{ post.content|safe }}</p>
            </article>
        </section>
        
        <h3>Comentários</h3>

        <form method="get">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit">Filtrar</button>
        </form>
        <ul>
            {% for comment in comments %}
            <li>{{ comment.author }} |  {{ comment.date|date:" d M Y"  }} | {{ comment.date|time:"H:i" }}: {{ comment.comment }}</li>
            {% empty %}
            <p>Não há comentrários para esse post</p>
            {% endfor %}
        </ul>
    
{% endblock %}


