
{% extends "codedare_app/base.html" %}

{% block title %}List Page {% endblock %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
{% endblock  %}


{% block content %}
  <!--
    <form method="get">
      {{ form.as_p }}
      <input type="submit" value="Apply Filter">
    </form>
  -->
    

    <section class="posts-page">
      {% if is_category %}
      {% for category in categories %}
      <h2> {{category}}</h2>
      {% endfor %}
      {% else  %}
        <h2> Posts</h2>
      {% endif %}
      <a href="{% url  'new' %}">
        <p class="cta">Criar Post</p>
      </a>

  
      <div class="grid">
        {% for post in posts %}
              
    
              <article class="post">
                   <a href="{% url 'detail' post.id %}"> 
                          <img src="#" alt="thumb"> 
                          <div class="post-overview">
                              <div class="post-text">
  
                                  <p class="name"> {{ post.title }} </p>
                                  <p class="subtitle"> {{ post.date|date:" d M Y"  }} {{ post.date|time:"H:i" }}</p>
                              </div>
                              <div class="hashtags">
      
                                 
                                  <p class="tag">{{post.coding_language }}</p>
                                  
                              </div>
                          </div>
                      </a> 
              </article>
              {% endfor %}
      </div>
      
  </section>
  
{% endblock %}